body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}

nav{
    background-color: rgb(190, 140, 79);
    width: 100%;
    position:fixed;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

nav .logo{
    color: #fff;
    display: block;
    float: left;
    padding: 14px 16px;
}

nav a{
    color: #fff;
    display: block;
    float: right;
    text-decoration: none;
    padding: 14px 16px;
}

nav a:hover{
    transition: 0.5s;
    background-color: antiquewhite;
    color: #000;
}