
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;  
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    
}

body{
    background-image: url('https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg?w=2000');
    background-size: auto;
    background-position: right;
}

.container{
    max-width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header{
    background-color: rgb(216, 149, 66);
    width: 100%;
    padding: 10px;
}

.logo, .sociais{
    width: 25%;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
}

.sociais button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 12px;
}

.sociais button i{
    font-size: 20px;
}

.logo{
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.lista ul{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.content, .titulo{
    text-align: center;
    margin-top: 15px;
    border-radius: 12px;
    
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 228, 196, 0.699);
    display: inline-block;
    
}

.titulo h2{
    color: rgba(233, 148, 37, 0.911);
}

.saiba-mais, .btn{
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    
}

.saiba-mais{
    font-size: 17px;
    background-color: rgba(97, 231, 8, 0.699);
    border-radius: 10px;
    border: solid 2px black;
    color: black;
    font-weight: bold;
    cursor: pointer;
}